[submodule ".local/src/st"]
	path = .local/src/st
	url = https://github.com/awbhum/st
[submodule ".local/src/hsetroot"]
	path = .local/src/hsetroot
	url = https://github.com/awbhum/hsetroot
[submodule ".local/src/dwmblocks"]
	path = .local/src/dwmblocks
	url = https://github.com/awbhum/dwmblocks
[submodule ".local/src/herbe"]
	path = .local/src/herbe
	url = https://github.com/awbhum/herbe
