gh
fontconfig/fonts.conf
elinks/bookmarks
elinks/*hist
elinks/mouse.lock
elinks/socket*
amfora/config.toml
foot/foot.ini
nvim/nvim-qt.conf
nvim/lua/user/theme/init.lua
nvim/lua/user/theme/default.lua
nvim/lua/user/plugins/base46.lua
nvim/lua/user/themedefault.lua
river/theme.sh
zathura/zathurarc
vim/vimrc
mpv/mpv_sub-delay.json
window-geometry.conf
