gh
fontconfig/fonts.conf
elinks/bookmarks
elinks/*hist
elinks/mouse.lock
elinks/socket*
amfora/config.toml
foot/foot.ini
nvim/lua/user/theme.lua
nvim/lua/user/themedefault.lua
river/theme.sh
zathura/zathurarc
vim/vimrc
mpv/mpv_sub-delay.json
window-geometry.conf
